[submodule "2014-11-13 Peter Steinbach TDD C++"]
	path = 2014-11-13 Peter Steinbach TDD C++
	url = https://github.com/psteinb/TDD_in_Cpp.git
[submodule "2020-05-13 Andreas Reischuck Faster Meta Programming"]
	path = 2020-05-13 Andreas Reischuck Faster Meta Programming
	url = https://github.com/arBmind/2020-05_FastMeta
